force-app/main/default/flows/Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Lead_Record_Type</name>
        <label>Lead Record Type</label>
        <locationX>607</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Customer_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadDetails.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120L000000fPxeQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_to_Customer</targetReference>
            </connector>
            <label>Customer RT</label>
        </rules>
        <rules>
            <name>Lawyer_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadDetails.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120L000000fPxfQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_to_Law_Firm</targetReference>
            </connector>
            <label>Lawyer RT</label>
        </rules>
    </decisions>
    <description>If new record tpyes are introduced to the workflow this flow will need updates.</description>
    <interviewLabel>Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LKP_Lead_Details</name>
        <label>LKP Lead Details</label>
        <locationX>604</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadDetails.ConvertedAccountId</assignToReference>
            <field>ConvertedAccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadDetails.ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadDetails.ConvertedOpportunityId</assignToReference>
            <field>ConvertedOpportunityId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadDetails.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Account_to_Customer</name>
        <label>Set Account to Customer</label>
        <locationX>260</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Set_Contact_to_Customer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDetails.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012E0000000DEhkIAG</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account_to_Law_Firm</name>
        <label>Set Account to Law Firm</label>
        <locationX>919</locationX>
        <locationY>201</locationY>
        <connector>
            <targetReference>Set_Contact_to_Lawyer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDetails.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012E0000000DEhpIAG</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Contact_to_Customer</name>
        <label>Set Contact to Customer</label>
        <locationX>259</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Set_Opportunity_to_Customer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDetails.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120L000000fPxcQAE</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Contact_to_Lawyer</name>
        <label>Set Contact to Lawyer</label>
        <locationX>918</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Set_Opportunity_to_Law_Firm</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDetails.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120L000000fPxdQAE</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Customer</name>
        <label>Set Opportunity to Customer</label>
        <locationX>258</locationX>
        <locationY>429</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDetails.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120L000000fPxgQAE</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Law_Firm</name>
        <label>Set Opportunity to Law Firm</label>
        <locationX>918</locationX>
        <locationY>432</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadDetails.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Law_Firm_Lawyer__c</field>
            <value>
                <elementReference>LeadDetails.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120L000000fPxhQAE</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>LKP_Lead_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>LeadDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
