force-app/main/default/flows/Lump_Sum_Drawdowns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Admin_Fee</name>
        <label>Admin Fee</label>
        <locationX>630</locationX>
        <locationY>265</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AF_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppAdminFee</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_DD_for_Lump_Sum_Admin_Fee</targetReference>
            </connector>
            <label>AF &gt; 0</label>
        </rules>
        <rules>
            <name>AF_Null_or_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OppAdminFee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppAdminFee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>AF Null or 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amount_Paid_to_Borrower</name>
        <label>Amount Paid to Borrower</label>
        <locationX>627</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>APTB_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppAmountPaidToBorrower</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_DD_for_Lump_Sum_Amount_Paid_to_Borrower</targetReference>
            </connector>
            <label>APTB &gt; 0</label>
        </rules>
        <rules>
            <name>APTB_Null_or_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OppAmountPaidToBorrower</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppAmountPaidToBorrower</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Fee</targetReference>
            </connector>
            <label>APTB Null or 0</label>
        </rules>
    </decisions>
    <interviewLabel>Lump Sum Drawdowns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lump Sum Drawdowns</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_DD_for_Lump_Sum_Admin_Fee</name>
        <label>Insert DD for Lump-Sum Admin Fee</label>
        <locationX>375</locationX>
        <locationY>430</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>OppAdminFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>e-Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Notes__c</field>
            <value>
                <elementReference>OppLumpSumDescriptionNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lump-Sum Admin Fee</stringValue>
            </value>
        </inputAssignments>
        <object>Drawdown__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_DD_for_Lump_Sum_Amount_Paid_to_Borrower</name>
        <label>Insert DD for Lump-Sum Amount Paid to Borrower</label>
        <locationX>375</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Admin_Fee</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>OppAmountPaidToBorrower</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>e-Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Notes__c</field>
            <value>
                <elementReference>OppLumpSumDescriptionNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Lump-Sum Amount Paid to Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>Drawdown__c</object>
    </recordCreates>
    <startElementReference>Amount_Paid_to_Borrower</startElementReference>
    <status>Draft</status>
    <variables>
        <name>OppAdminFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppAmountPaidToBorrower</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppFirstDrawdown</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppLumpSumDescriptionNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
